body {
  background-color: #002401;
  color: #FFFFFF;
  font-family: 'Dosis';
}

h1 {
  font-family: 'Philosopher';
}

.navlink {
  font-family: "Philosopher";
}

/* player stuff */

.timeline {
  display: inline-block;
  padding: 2px;
  height: 7px;
  background-color: #FFFFFF;
}

.timelinecontainer {
  display: inline-block;
  padding: 5px;
  padding-bottom: 6px;
  background-color: #243208;
  width: 100%;
  border-radius: 10px;
}

.tcwrapper {
  padding: 0.28%;
  border-radius: 34px;
  background-color: #A2FFA2;
}

.playcontrolcontainer {
  position: relative;
  left: -24px;
  top: -6px;
  display: inline-block;
  padding: 5px;
  padding-bottom: 6px;
  background-color: #244908;
  width: 10%;
  border-radius: 10px;
  white-space: nowrap;
  box-shadow: 0px 0px 32px #003422;
}

.playcontrols {

  display: inline;
  padding: 5px;
  padding-left: 15px;
  padding-right: 25px;
  background-color: #244908;
  border-radius: 10px;
  width: 10%;
}

/* index stuff */

h5 {
  font-size: 9px;
  white-space: nowrap;
  display: inline;
}

.indexblob {
  background-color: #AA1045;
  padding: 3.05%;
  display: inline-block;
}

ul.samples {
  list-style: none;
  padding: 6px;
}

/* general block stuff */

.blobborder
{
  box-shadow: 0px 0px 250px #007200;
  background-color: #AA1045;
  padding: 0.05%;
  display: inline-block;
}

.blobborderline
{
  box-shadow: 0px 0px 250px #007200;
  background-color: #AA1045;
  padding: 0.35%;
}

.yellowblobborder
{
  box-shadow: 0px 0px 12px #003422;
  /*background-color: #68FF02;*/
  background-color: #AA1045;
  padding: 0.09%;
  display: inline-block;
}

.blob {
  background-color: #004718;
  border-radius: 3px;
  padding: 8px;
  display: inline-block;
  text-align: center;
  color: #FFFFFF;
  white-space: nowrap;
}

/* comments stuff */

.nameblob
{
  background-color: #003500;
  padding: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

h6 {
  display: inline;
  font-size: 7px;
}

.timestampback {
  background-color: #117511;
  height: 1px;
  text-align: middle;
}

.commborder
{
  box-shadow: 0px 0px 250px #007200;
  background-color: #AA1045;
  padding: 0.05%;
  display: inline-block;
}

.commborder2
{
  box-shadow: 0px 0px 250px #007200;
  background-color: #4F9E0B;
  padding: 0.05%;
  display: inline-block;
}

.commform {
  padding: 5px;
}

/* overall layout stuff */

.bigblob {

margin: 8%;
border-radius: 9px;
box-shadow: 0px 0px 250px #007200;
background-color: #AA1045;
padding: 0.05%;
}

.inblob {
background-color: #002200;
margin: 2px;
padding: 5%;
}

input {
  background-color: #003200;
  color: #FFFFFF;
}

a:link {
  text-decoration: none;
  color: #FFFFFF;
}

a:visited {
  color: #FFFFFF;
}

a:hover {
  color: #89DD10;
}

a:active {
  color: #89DD10;
}

p {
  color: #FFFFFF;
}

strong {
  color: #FFFFFF;
}

button {
  height: 20px;
  padding: 2px;
  text-decoration: none;
  border-radius: 12px;
  background-color: #CCFFFF;
  margin: 2px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

